:root {
	--sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
	font-family: var(--sans-serif);
}

img,
picture {
	height: auto;
}
