/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
	--step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
	--step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
	--step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
	--step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
	--step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
	--step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
	--step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
	--space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
	--space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
	--space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
	--space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
	--space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
	--space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
	--space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
	--space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
	--space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
	--space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
	--space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
	--space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
	--space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
	--space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
	--space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);

	/* Custom pairs */
	--space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);
}

:root {
	--sans-serif: "Playpen Sans", Seravek, "Gill Sans Nova", Ubuntu, Calibri,
		"DejaVu Sans", source-sans-pro, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";

	--container-max-width: 56rem;
	--flow-space: var(--space-m);

	--color-dark: #222;
	--color-dark-tint: #78726b;
	--color-primary-shade: oklch(56.76% 0.185 41.205863395716605);
	--color-primary: oklch(65.13% 0.21 41.205863395716605);
	--color-primary-tint: oklch(73.82% 0.185 41.205863395716605);

	--color-light-shade: #f1e7e1;
	--color-light: #fffff8;

	--framed-img-border-width: 5px;
}

html,
body {
	height: 100%;
}

html {
	font-family: var(--sans-serif);
	font-size: var(--step-0);
	background-color: var(--color-light);
}

body {
	color: var(--color-dark);
	overflow-x: hidden;
}

a:not([class]) {
	&:hover,
	&:active,
	&:focus {
		color: var(--color-primary-shade);
	}
}

h1,
h2,
h3 {
	max-width: 20ch;
}

h1 {
	font-size: var(--step-2);
}

img,
picture {
	height: auto;
}

/*
 * Focus styles
 *
 * @link https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/
 *
 * Using on :root instead of :is(a, button, input, textarea, summary) inorder
 * to add outline on non focusable elements like div or span.
 *
 */
:root {
	--outline-size: max(2px, 0.08em);
	--outline-style: solid;
	--outline-color: currentColor;
}

:is(a, button, input, textarea, summary):focus {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
	outline: none;
}

.container {
	max-width: var(--container-max-width);
	padding-inline: var(--space-xs);
	margin-inline: auto;
}

.font-step--2 {
	font-size: var(--step--2);
}

.font-step--1 {
	font-size: var(--step--1);
}
