@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: "Playpen Sans";
	src: url("/fonts/PlaypenSans-Regular-subset.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: "Playpen Sans";
	src: url("/fonts/PlaypenSans-Bold-subset.woff2") format("woff2");
	font-display: swap;
}
