---
title: Posts
pagination:
  data: posts
  size: 1
  alias: post
permalink: "posts/{{ post.title | slugify }}/index.html"
templateEngineOverride: njk,md
---

{{ post.notes }}


{% for img in post.images %}
  <img src="{{img.url}}" alt="">
{% endfor %}
